
LLPS/FRAP_OLD-DontShare.ipynb
*.pyc
LLPS/.ipynb_checkpoints/Droplet Coalescence-checkpoint.ipynb
LLPS/.ipynb_checkpoints/Exploring phase separation models-checkpoint.ipynb
LLPS/.ipynb_checkpoints/PhaseSeparationProcess-PNIPAM-checkpoint.ipynb
OT/.ipynb_checkpoints/Power Spectrum Analysis-checkpoint.ipynb
Tutorials/.ipynb_checkpoints/03_FourierTransform-checkpoint.ipynb
Tutorials/.ipynb_checkpoints/ExamplePlots-checkpoint.ipynb
Tutorials/.ipynb_checkpoints/Fourier Transforms-checkpoint.ipynb
Tutorials/.ipynb_checkpoints/FRAP_DataAnalysis-checkpoint.ipynb
LLPS/.ipynb_checkpoints/Droplet Coalescence-checkpoint.ipynb
LLPS/old_frap/*
LLPS/.ipynb_checkpoints/*